.catImg-container > img {
  width: 50%;
}

.catCard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.catImg-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.catCard-container:hover {
  cursor: pointer;
}
