.recipeCard-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  align-items: center;
}

.recipeCard-container:hover {
  cursor: pointer;
}

.recipeImg-container {
  width: 250px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
}

.recipeImg-container > img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}

.recipe-name {
  display: flex;
  justify-content: center;
}

.recipeImg-container {
  position: relative;
}

.totalRating-homediv {
  position: absolute;
  bottom: 18px;
  right: 20px;
  background: white;
  padding: 5px 15px;
  width: fit-content;
  display: flex;
  border-radius: 25px;
  color: #000;
  font-weight: 700;
  align-items: center;
  gap: 5px;
  justify-content: center;
  font-size: 14px;
}

.totalRating-homediv > svg {
  color: #5fc25b;
  font-size: 16px;
}
