.singleRecipePage-section {
  top: 140px;
  position: relative;
}

.singleRecipePage-wrapper {
  display: flex;
  padding: 30px;
  background-color: #fff;
  height: max-content;
  justify-content: center;
  flex: 1;
  margin: 0 auto;
  align-items: flex-start;
  gap: 50px;
}

.singleRecipePage-left {
  flex: 0.7;
}

.singleRecipePage-right {
  flex: 0.3;
}

.category-subdiv-list {
  padding: 15px 0;
  border-bottom: solid 1px #dddddd;
}

.category-subdiv > h2 {
  border-bottom: 5px solid #5fc25b;
  line-height: 2.4;
  font-style: italic;
  letter-spacing: 1px;
}

.singleRecipe-imageContainer {
  width: 100%;
  margin-top: 30px;
  position: relative;
}

.singleRecipe-imageContainer > img {
  width: 100%;
  height: 451px;
  object-fit: cover;
}

.singleRecipe-content {
  margin-top: 25px;
}

.singleRecipe-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  margin-bottom: 25px;
  background: #f7f7f7;
  padding: 15px;
}

.singleRecipe-prepTime {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-items: center;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
}

.singleRecipe-prepTime > h3 > b {
  color: #f15137;
  margin-left: 4px;
}

.singleRecipe-description > p {
  margin-bottom: 25px;
}

.singleRecipe-ingredients > ul > * {
  margin-bottom: 15px;
}

.singleRecipe-ingredients > ul > li > p {
  display: flex;
  gap: 15px;
}

.singleRecipe-ingredients > h3 {
  margin-bottom: 15px;
}

.singleRecipe-instructions {
  margin-top: 25px;
}

.singleRecipe-instructions > h3 {
  margin-bottom: 15px;
}

.singleRecipe-instructions > ul > * {
  margin-bottom: 15px;
  padding: 20px;
}

.singleRecipe-instructions > ul > li > p {
  display: flex;
  gap: 15px;
}

.author-div {
  padding: 25px;
  margin: 30px 0;
  border: solid 1px #d5d5d5;
}

.author-content > h3 {
  text-transform: capitalize;
}

.author-content {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.view-profile {
  background: #f15137;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: fit-content;
  outline: none;
  color: white;
  font-weight: 600;
}

.view-profile:hover {
  cursor: pointer;
}

.rating {
  display: flex;
  gap: 4px;
  justify-content: flex-start;
  font-weight: 900;
}

.user-review {
  padding: 25px;
  margin-top: 15px;
  border-bottom: dashed 1px #b1b1b1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.user-review-info {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.review-date-info {
  opacity: 0.5;
}

.reviewer-name {
  text-transform: capitalize;
}

.singleRecipe-ingredients > h3,
.singleRecipe-instructions > h3,
.reviews-display > h3 {
  text-transform: uppercase;
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 5px solid #5fc25b;
  margin-bottom: 10px;
  font-style: italic;
}

.singleRecipe-instructions > ul > li:nth-child(even) {
  background: #f9f9f9;
}

.reviews-form-wrapper > form > h3 {
  margin-bottom: 15px;
}

.textareaInput {
  padding: 15px;
}

.totalRating-div {
  position: absolute;
  bottom: 30px;
  right: 40px;
  background: white;
  padding: 5px 15px;
  width: fit-content;
  display: flex;
  border-radius: 25px;
  color: #000;
  font-weight: 700;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.totalRating-div > svg {
  color: #5fc25b;
}
